@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.image-fondo {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/uñas5.jpg);
  background-size: cover;
  background-position: center;
}
.image-fondo .titulo {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.image-fondo .sectionindex1 {
  background-color: white;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

.sectionindex2 {
  font-size: 3rem;
  text-align: center;
  margin-top: auto;
  padding: 1rem 0;
}

.menu-responsive {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  opacity: 80%;
  margin: 1rem;
}

.menu {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.8rem;
}
.menu .menu-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.menu .contac:hover {
  background-color: pink;
  color: white;
}
.menu .qs:hover {
  background-color: pink;
  color: white;
}
.menu .galeriaf:hover {
  background-color: pink;
  color: white;
}
.menu .serv:hover {
  background-color: pink;
  color: white;
}
.menu .ini:hover {
  background-color: pink;
  color: white;
}

.imagen-decoracion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  background-color: white;
  margin: 1.5rem;
  opacity: 80%;
}

.imagenes {
  height: 20rem;
  width: 20rem;
  border: solid 0.5rem palevioletred;
}

.tarjetas-serv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tarjetas-serv .nombre-serv {
  font-size: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tarjetas-serv .fondo-serv {
  background-color: white;
  opacity: 80%;
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
}
.tarjetas-serv .servicios {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  transition-property: all;
  transition-duration: 2s;
}
.tarjetas-serv .servicios:hover {
  background-color: pink;
}
.tarjetas-serv .servicio {
  text-align: left;
  margin-left: 1rem;
}
.tarjetas-serv .valor {
  text-align: right;
  margin-right: 1rem;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100;
}
.logo .logo-whatsapp {
  width: 5rem;
  height: 5rem;
  opacity: 0.7;
}

.sectionqs {
  background-color: white;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin: 1rem;
}
.sectionqs .titulo-qs {
  padding: 2rem;
  align-items: center;
}

.parrafo-cont {
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 1rem;
  background-color: white;
  opacity: 80%;
}

.imagen-redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.imagen-redes .imagen-cont {
  height: 20rem;
  width: 20rem;
  opacity: 70%;
}

.mapa {
  padding: 1rem;
  margin-top: 1rem;
  opacity: 0.7;
  margin-left: 2rem;
  height: 30rem;
  width: 30rem;
}

.carrusel-mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.carrusel-mod .imagen-carrusel {
  height: 25rem;
  width: 10rem;
}

.section-index22 {
  font-size: 3rem;
  text-align: center;
  margin-top: auto;
  padding: 1rem;
}

.inicio {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  justify-content: stretch;
  text-align: center;
  gap: 0.5rem;
  font-size: 2rem;
  opacity: 80%;
  margin: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 990px) {
  .movil {
    display: none;
  }
}
@media screen and (max-width: 989px) {
  .desktop {
    display: none;
  }
  /*menu hamburguesa*/
  .menu-responsive .menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.767);
  }
  .menu-responsive .menu.visible {
    opacity: 1;
    visibility: visible;
  }
  .menu-responsive .abrir-menu .cerrar-menu {
    display: block;
  }
  .menu-responsive .menu-list {
    flex-direction: column;
    align-items: end;
  }
  /*pagina de inicio*/
  .inicio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .imagen-fondo {
    background: palevioletred;
    font-size: 2rem;
    grid-column: 1;
    grid-row: 1;
  }
  .quienes-somos {
    background-color: rgb(243, 181, 191);
    grid-column: 1;
    grid-row: 2;
  }
  .servicios-ini {
    background-color: rgb(206, 138, 150);
    grid-column: 1;
    grid-row: 3;
  }
  .galeria {
    background-color: rgb(243, 181, 191);
    grid-column: 1;
    grid-row: 4;
  }
  .contacto {
    background-color: rgb(206, 138, 150);
    grid-column: 1;
    grid-row: 5;
  }
  /*servicio*/
  .tarjetas-serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */